# Pandas Data Frame

In [2]:
import pandas as pd
g=["Mod","Dev","Cloud","Big","Sec","自我放棄組"]
ir=[59,9,19,14,6,77]
ir_dict={
    "gr":g,
    "ir":ir
}
ir_df=pd.DataFrame(ir_dict)
ir_df

      gr  ir
0    Mod  59
1    Dev   9
2  Cloud  19
3    Big  14
4    Sec   6
5  自我放棄組  77

In [3]:
print(ir_df.ndim)
print(ir_df.shape)
print(ir_df.dtypes)

2
(6, 2)
gr    object
ir     int64
dtype: object

In [4]:
print(ir_df.sum())
print(ir_df.ir.sum())
print(ir_df.mean())
print(ir_df.median)
print(ir_df.describe())

gr    ModDevCloudBigSec自我放棄組
ir                       184
dtype: object
184
ir    30.666667
dtype: float64
<bound method DataFrame.median of       gr  ir
0    Mod  59
1    Dev   9
2  Cloud  19
3    Big  14
4    Sec   6
5  自我放棄組  77>
              ir
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [8]:
import pandas as pd
import numpy as np
g=["Mod","Dev",np.nan,"Cloud","Big","Sec","自我放棄組"]
ir=[59,9,19,14,6,77,np.nan]
ir_dict={
    "gr":g,
    "ir":ir
}
ir_df=pd.DataFrame(ir_dict)
print(ir_df.loc[:,"gr"].isnull()) #判斷那些組的組名是遺失值
print(ir_df.loc[:,"ir"].notnull()) #判斷哪些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: gr, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: ir, dtype: bool

In [15]:
a=ir_df.dropna()
b=ir_df.fillna(0)
c=ir_df.ir.fillna(ir_df.ir.mean())
print(a)
print("------------")
print(b)
print("------------")
print(c)

      gr    ir
0    Mod  59.0
1    Dev   9.0
3  Cloud  14.0
4    Big   6.0
5    Sec  77.0
------------
      gr    ir
0    Mod  59.0
1    Dev   9.0
2      0  19.0
3  Cloud  14.0
4    Big   6.0
5    Sec  77.0
6  自我放棄組   0.0
------------
0    59.000000
1     9.000000
2    19.000000
3    14.000000
4     6.000000
5    77.000000
6    30.666667
Name: ir, dtype: float64

In [16]:
b=ir_df.fillna(0)
print(b)

      gr    ir
0    Mod  59.0
1    Dev   9.0
2      0  19.0
3  Cloud  14.0
4    Big   6.0
5    Sec  77.0
6  自我放棄組   0.0

In [21]:
import pandas as pd
g=["Mod","Dev","Cloud","Big","Sec","自我放棄組"]
ir=[59,9,19,14,6,77]
#建立data frome
ir_df=pd.DataFrame(ir,columns=["ir"],index=g)
ir_df.sort_index()

       ir
Big    14
Cloud  19
Dev     9
Mod    59
Sec     6
自我放棄組  77

In [22]:
ir_df.sort_values(by="ir")

       ir
Sec     6
Dev     9
Big    14
Cloud  19
Mod    59
自我放棄組  77